[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/vim-rabl"]
	path = bundle/vim-rabl
	url = https://github.com/yaymukund/vim-rabl.git
